<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pearnode.app.placero">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.pearnode.app.placero.custom.PlaceroApplication"
        android:largeHeap="true"
        android:allowClearUserData="true"
        tools:replace="android:icon"
        >

        <meta-data
            tools:replace="android:value"
            android:name="android.support.VERSION"
            android:value="26.0.1" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMLb43HC5Gnxhw1KVOXJoLfkhCkQMU1N8" />

        <activity
            android:name="com.pearnode.app.placero.google.signin.SignInActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pearnode.app.placero.AreaDashboardActivity"
            android:label="@string/title_activity_area_dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaDetailsActivity"
            android:label="@string/title_activity_position_marker"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaMapPlotterActivity"
            android:label="@string/title_activity_land_plotter"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.CombinedAreasPlotterActivity"
            android:label="@string/title_activity_land_plotter"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaEditActivity"
            android:label="@string/title_activity_area_edit"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaShareActivity"
            android:label="@string/label_share_area"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.SplashActivity"
            android:label="@string/label_pre_load_splash"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaPictureCaptureActivity"
            android:label="@string/area_add_image"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaVideoCaptureActivity"
            android:label="@string/area_add_video"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaDocumentChooserActivity"
            android:label="@string/choose_document"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaAddResourcesActivity"
            android:label="@string/area_add_resources"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.pearnode.app.placero.AreaMediaDisplayActivity"
            android:label="@string/area_resources"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.pearnode.app.placero.TagManagementActivity"
            android:label="@string/choose_document"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="com.pearnode.app.placero.connectivity.services.AreaSynchronizationTask"
            android:exported="false"/>
        <service
            android:name="com.pearnode.app.placero.connectivity.services.PositionSynchronizationService"
            android:exported="false"/>
        <service
            android:name="com.pearnode.app.placero.connectivity.services.ResourceSynchronizationService"
            android:exported="false"/>
        <service
            android:name="com.pearnode.app.placero.area.reporting.AreaReportingService"
            android:exported="false"/>

        <receiver android:name="com.pearnode.app.placero.connectivity.ConnectivityChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="lm.pkp.com.APPLICATION_START" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
